/* You can add global styles to this file, and also import other style files */

.section {
    margin-bottom: 20px;
    cursor: pointer;
}

.content {
    display: none;
}

.content.active {
    display: block;
}