<div class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item"><app-traffic-lightTB [avaria]="avaria"></app-traffic-lightTB></div>
    <div class="grid-item"></div>
    <div class="grid-item"><app-traffic-lightlr [avaria]="avaria"></app-traffic-lightlr></div>
    <div class="grid-item">
      <button [disabled]="isButtonDisabled" (click)="triggerAvaria()" class="emergency-button">Авария</button>
    </div>
    <div class="grid-item"><app-traffic-lightlr [avaria]="avaria"></app-traffic-lightlr></div>
    <div class="grid-item"></div>
    <div class="grid-item"><app-traffic-lightTB [avaria]="avaria"></app-traffic-lightTB></div>
    <div class="grid-item"></div>
  </div>
  