<div class="grid-container">
<div class="grid-item"></div>
<div class="grid-item"><app-traffic-lightTB ></app-traffic-lightTB></div>
<div class="grid-item"></div>  
<div class="grid-item"><app-traffic-lightlr ></app-traffic-lightlr></div>
<div class="grid-item">
    <!-- <button (click)="triggerAvaria()">Авария</button> -->
</div>
<div class="grid-item"><app-traffic-lightlr ></app-traffic-lightlr></div>  
<div class="grid-item"></div>
<div class="grid-item"><app-traffic-lightTB ></app-traffic-lightTB></div>
<div class="grid-item"></div> 
</div>